.App {
  max-width: 600px;
  margin: 0 auto;
}

.App footer {
  margin: 20px;
}

body {
  font-family: "Nunito", sans-serif;
}

.col-6 {
  right: -20px;
}

h2 {
  color: #2c567f;
  font-weight: 800;
  text-align: center;
}




