.App {
  max-width: 600px;
  margin: 0 auto;
}

.App footer {
  margin: 20px;
}

a {
  color: rgb(244, 180, 211);
}

body {
  font-family: "Nunito", sans-serif;
  min-height: calc(100vh - 30px);
  background-image: url("./sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.col-6 {
  right: -20px;
}

h2 {
  color: #e1e9f1;
  font-weight: 800;
  text-align: center;
}




