.App {
  max-width: 600px;
  margin: 0 auto;
}

a {
  color: rgb(122, 3, 61);
}

a:hover {
  color: #f1f37e;
}

body {
  font-family: "Nunito", sans-serif;
  min-height: calc(100vh - 30px);
  background-image: url("/./media/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.col-6 {
  right: -20px;
}

h2 {
  color: #034489;
  font-weight: 800;
  text-align: center;
}

small {
  color: #87CEEB;
}






