  #additional-info {
  color: #000000;
  font-weight: 600;
  list-style: none;
  margin: 0;
  }
  
  #background-img {
    position: fixed;
    max-width: 100%;
    min-height: 100%;
    z-index: -5;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }
  
  #search-btn {
    font-family: "Fredoka", sans-serif;
  }
  
  #search-btn:hover {
    color: rgb(189, 118, 112);
  }
  
  #date {
    color: rgb(93, 31, 83);
    font-size: 14px;
    font-weight: bold;
  }

  #current-condition {
    color: #000000;
    font-family: "Russo One", sans-serif;
    font-size: 14px;
    font-weight: 10px;
  }
  
  #city-input {
    color: rgb(40, 5, 2);
    font-family: "Fredoka", sans-serif;
  }

  #quote {
    color: rgb(67, 1, 33);
    font-weight: bold;
    font-size: 12px;
    position: relative;
    bottom: 40px;
    left: 300px;
  }
  
  #search-form {
    margin-bottom: 30px;
  }
  
  #temperature-degree {
    color: rgb(78, 5, 134);
    position: relative;
    left: 10px;
  }

  .overview {
    margin-bottom: 20px;
  }

  .units {
    color: rgb(78, 5, 134);
    font-weight: 600;
    line-height: 1;
    position: relative;
    left: 10px;
    top: -4px;
  }

  .weather-app {
    border-radius: 26px;
    border-style: groove;
    border-color: #78a8db;
    padding: 20px;
    margin: 20px auto;
  }
  
  .weather-icon canva {
    display: inline-block;
    position: relative;
    top: 6px;
    right: 5px;
    vertical-align: top;
  }
  
  .weather-icon strong {
    color: rgb(74, 139, 176);
    font-size: 40px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    position: relative;
    top: 12px;
  }