  #additional-info {
  color: #d5dee7;
  font-weight: 600;
  list-style: none;
  margin: 0;
  }
  
  #background-img {
    position: fixed;
    right: 0px;
    top: 0px;
    max-width: 100%;
    min-height: 100%;
    z-index: -5;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }
  
  #search-btn {
    /* color: rgb(148, 77, 111); */
    font-family: "Fredoka", sans-serif;
  }
  
  #search-btn:hover {
    /* color: rgb(184, 50, 115); */
  }
  
  #date {
    color: rgb(213, 143, 138);
    font-size: 14px;
    font-weight: bold;
  }

  #current-condition {
    color: #d1e3f6;
    font-family: "Russo One", sans-serif;
    font-size: 14px;
  }
  
  #city-input {
    color: rgb(210, 125, 118);
    font-family: "Fredoka", sans-serif;
  }

  #quote {
    color: rgb(244, 180, 211);
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    position: relative;
    bottom: 40px;
    left: 400px;
  }
  
  #search-form {
    margin-bottom: 30px;
  }
  
  #temperature-degree {
    color: rgb(244, 180, 211);
    position: relative;
    left: 10px;
  }

  .overview {
    margin-bottom: 20px;
  }

  .units {
    color: rgb(244, 180, 211);
    font-weight: 600;
    line-height: 1;
    position: relative;
    left: 10px;
    top: -4px;
  }

  .weather-app {
    border-radius: 10px;
    border-style: inset;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    padding: 18px;
    margin: 30px auto;
  }
  
  .weather-icon canva {
    display: inline-block;
    position: relative;
    top: 6px;
    right: 5px;
    vertical-align: top;
  }
  
  .weather-icon strong {
    color: #fff;
    font-size: 40px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    position: relative;
    top: 12px;
  }